@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    @apply text-sm text-gray-700 antialiased bg-gray-50;
  }

  body {
    @apply min-h-screen font-sans;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
  }
}
